<div data-refresh-list-target="list">
  <% if params[:query].blank? %>
    <h1 class="h3"><%= pluralize keywords.count, 'keyword' %> available</h1>
  <% else %>
    <h1 class="h3"><%= pluralize keywords.count, 'result' %> for <code><%= params[:query] %></code></h1>
  <% end %>

  <div class="keyword-cards">
    <% keywords.each do |keyword| %>
      <% content_for :meta_description, "#{keyword.title} - " %>
      <div class="flip">
        <%= content_tag(:div, content_tag(:h1, keyword.title, class: "text-shadow"), class: "front",
        style: "background-image: url(https://drive.google.com/uc?export=view&id=#{keyword.image_url})") %>
        <div class="back">
          <p><%= keyword.definition %></p>
          <div class="links">
            <% if user_signed_in? %>
              <%= link_to edit_keyword_path(keyword), method: :get, class: 'edit-link' do %>
                <i class="fas fa-edit"></i>
              <% end %>
            <% end %>
            <p><a href="<%= keyword.source_url %>" target="_blank" class="source-link">Read more</a></p>
            <% if user_signed_in? %>
              <%= link_to keyword_path(keyword),
                method: :delete,
                data: { confirm: "Are you sure?" }, class: 'delete-link' do %>
                <i class="fas fa-trash"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
