<div data-refresh-list-target="list">
  <% if params[:query].blank? %>
    <h1 class="h3"><%= pluralize keywords.count, 'keyword' %> available</h1>
  <% else %>
    <h1 class="h3"><%= pluralize keywords.count, 'result' %> for <code><%= params[:query] %></code></h1>
  <% end %>

  <div class="keyword-cards">
    <% keywords.each do |keyword| %>
      <div class="flip">
        <%= content_tag(:div, content_tag(:h1, keyword.title, class: "text-shadow"), class: "front",
        style: "background-image: url(https://drive.google.com/uc?export=view&id=#{keyword.image_url})") %>
        <div class="back">
          <p><%= keyword.definition %></p>
          <p class="source-link"><a href="<%= keyword.source_url %>" target="_blank">Source</a></p>
          <% if user_signed_in? %>
            <%= link_to edit_keyword_path(keyword), method: :get do %>
            <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to keyword_path(keyword),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
