<h1>Web developpement Glosssary</h1>

<%= form_tag keywords_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a keyword"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% @keywords.each do |keyword| %>
  <div>
    <img src="<%= keyword.image_url %>" alt="<%= keyword.title %>">
    <p><%= keyword.definition %></p>
    <p><%= keyword.source_url %></p>
  </div>
  <p><%= keyword.title %></p>
<% end %>
